#home {
    text-align: center;
    font-family: 'Al_Jazeera';
    font-size: 10px;
    padding: 20px;
    color: #fff;
}

#titel {
    color: #619191;
    font-size: 28px;
}

#allFeed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-items: center;
    align-self: center;
    word-break: break-all;
    text-align: center;
}

#allFeed li {

    margin: 10px 10px 10px 40px;
    background-color: #232527;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

#allFeed li:hover {

    background-color: #1b1c1d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}

.allFeed_image {
    width: 280px;
    height: 250px;
    object-fit: cover;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.allFeed_title {
    padding: 5px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#viewFeed{
    display: none;
}

#viewFeed img{
    max-width: 100% ;
}