@font-face {
  font-family: "Al_Jazeera";
  src: url(../font/Al-Jazeera-Arabic-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Greta_Arabic";
  src: url(../font/Greta_Arabic_Regular.ttf) format("truetype");
}

html,
body {
  background-color: #2e3338;
  margin: 0px 0px 0px 0px;
  max-height: 100%;
}

#titlebar {
  height: 30px;
  width: 100%;
  -webkit-app-region: drag;
  direction: ltr;
}

#window-controls {
  display: flex;
  flex-wrap: wrap;
  background-color: #2e3338;
  /* justify-content: space-between; */
  /* background-color: #232527; */
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-app-region: drag;
}

#break {
  color: #ffffff;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#controls {
  display: flex;
}

.icon_bar,
.top_bar_icon {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 25px;
  height: 25px;
  padding: 5px;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.top_bar_icon {
  margin-top: 5px;
  width: 18px;
  height: 18px;
}

#closed:hover {
  background-color: #f34949;
  transition: 0.3s ease-in-out;
}

#minimizable:hover,
#minimize:hover,
.top_bar:hover {
  background-color: #272b30;
  transition: 0.3s ease-in-out;
}

.top_bar {
  margin-left: 5px;
}

/* .Content {
  display: flex;
  flex-direction: row-reverse;
} */

.menu {
  background-color: #232527;
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.menu_ul {
  margin-top: 0px;
  width: 100%;
  direction: rtl;
  list-style: none;
  text-align: center;
  font-family: 'Al_Jazeera', 'Greta_Arabic';
  color: #ffffff;

}

.menu_ul li {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  background-color: #181a1b;
  padding: 5px;
}

.menu_icon {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 18px;
  height: 18px;
}

#menu_bottom {
  padding: 0;
  margin: 0 0 0 0;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.main {
  direction: rtl;
  padding-right: 180px;
}

/* add rss */

#add_Content {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #00000023;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 1;
}

#add_input {
  /* background-color: aqua; */
  margin-left: 180px;
}

#add_input_close {
  width: 25px;
  height: 25px;
  top: 118px;
  right: 15%;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  background-color: #eb0000;
}

#add_input_close:hover {
  top: 117px;
  width: 29px;
  height: 29px;
  background-color: #ad1010;
}

#input_Content {
  background-color: #ffffff;
  width: 70%;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 10px;
  color: #292929;
  font-family: 'Al_Jazeera', 'Greta_Arabic';
  text-align: center;
  border: 0.5px;
  border-style: solid;
  border-color: #c5c5c5;
  box-shadow: 0 1rem 1rem hsl(0 0% 0% / 30%);
}

#add_input_url {
  display: block;
  width: 50%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

#input_ok {
  display: none;
  color: #1b7a07;
  font-size: 12px;
}

#input_button {
  display: block;
  width: 20%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Al_Jazeera', 'Greta_Arabic';
  padding: 8px;
  border-radius: 10px;
  border: 0.5px;
  border-style: solid;
  border-color: #c5c5c5;
  background-color: #dfdfdf;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.048);
}

#input_button:hover {
  background-color: #cecece;
  padding: 10px;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  -webkit-app-region: no-drag;
}


::-webkit-scrollbar-track {
  background-color: #232527;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-thumb {
  background: #2f3335;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-thumb:hover {
  background: #181a1b;
}